@import url('https://fonts.googleapis.com/css?family=Dokdo|Tillana&display=swap');


body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 3em 1fr;
    background-color: #FBF1C1;
    height: 100vh;
}
.filter-options {
    display: inline;
    justify-content: space-between;
    border: 2px solid red;
}
.sort {
    grid-row: 2;
}
.search {
    grid-row: 2;
}
.poke-box {
    grid-row: 3;
    display: flex;
    flex-wrap:wrap;
    background-color: #0B3954;
    justify-content: space-around;
    contain: content;
   
    
}
h2 {
    margin: 0;
    font-family: 'Dokdo', cursive;
    text-transform: capitalize;

}
.poke-card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    padding: 1px;
    margin-top: 5px;
    background-color: red;
    border: 5px gold;
    contain: content;
    text-align: center;
}
.poke-card img {
    height: auto;
    width: 100%;
    object-fit: scale-down;
}