header {
    display: grid;
    grid-column: 1;
    background-color: #FBEE97;
    border: 2px solid crimson;
    height: 15vh
}
header img {
    grid-column-start: 1;
    max-width: 15vh;
}
h1 {
    grid-column-start: 2;
}